


.video-item img{
	max-width : 64px;
}


.list-group-item{
	cursor :pointer;
	width :30em;
	display: 
}

.list-inline-item:hover{
	background-color: #eee;
	cursor: pointer
}
.media-object{
	margin-left: 1.2em;
	border : 2px solid #eee;
	
}
.media-heading{
	margin-left: 1em;
	font-size: 0.60em;
	font-family: 'Bitter', serif;
}
.card{
	float: left !important;
	max-width: 30em !important;
	margin-left:2em
}
.card-text{
	font-size: 1em;
    font-family: 'Bitter', serif;	
}
.card-img-top{
	max-width: 30em !important;
	padding: 1em
}


.list-inline-item{
	border : 3px solid #eee;
	padding: 0.9em;
	width : 16em;
	height : 6em;
	float: right !important;
	overflow: hidden
	
}
.list-inline-item:last-child{
	margin-right:0.5em
}
.pagination {
	display: inline-block;
	margin-left: 5.7em
	
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li.active {
    background-color:#0069D8;
	color: white;
	border-radius: 50%;
	cursor: pointer
}

.pagination li:hover:not(.active) {background-color: #ddd;border-radius: 50% ;cursor: pointer}
